.rootPersonalPage {
  text-align: center;
  direction: rtl;

  h1 {
    margin-bottom: 30px;
  }

  .container {
    border: 1px solid #c3bdbd;
    height: 300px;
    width: 60%;
    margin: 0 auto 30px;
    border-radius: 4px;

    @media screen and (max-width: 500px) {
      width: 95%;
    }

    h2 {
      text-align: right;
      font-size: 22px;
      margin-bottom: 20px;

      @media screen and (max-width: 500px) {
        font-size: 5vw;
      }
    }
  }
}
