.table {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   width: 100%;
   background-color: rgb(246, 252, 252);
   border: 1px solid #ccc;
   overflow: visible;

   .sort {
      margin: 1rem auto;
      height: 3rem;
      width: 90%;
      border: 1px solid #ccc;
      background-color: #fff;
      display: flex;
      flex-direction: row-reverse;
      p:first-child {
         color: rgb(104, 104, 104);
      }
      p {
         font-weight: bold;
         display: flex;
         flex-direction: row-reverse;
         line-height: 3rem;
         padding: 0 1rem;
         align-items: center;
         margin: 0;
         color: rgb(204, 204, 204);
         position: relative;
         &:hover {
            cursor: pointer;
         }
         .box {
            position: absolute;
            right: 5px;
            top: 2.8rem;
            width: 8rem;
            z-index: 1;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 0.3rem;
            p {
               color: rgb(104, 104, 104);
               font-size: 1rem;
               font-weight: normal;
               padding: 0.5rem;
               line-height: 1rem;
               &:hover {
                  background-color: rgb(241, 241, 241);
               }
            }
         }
         img {
            margin-right: 0.5rem;
            margin-top: 0.1rem;
            height: 1rem;
            width: 1rem;
            fill: red;
         }
      }
      .separator {
         opacity: 0.5;
      }
   }
   .PaginationContainer {
      display: flex;
      margin-left: 5%;
   }
}
@media screen and (max-width: 576px) {
   .table {
      overflow-x: scroll;
      direction: rtl;
   }
   .sort {
      width: fit-content !important;
   }
}
