.rootSecretaryWindow {
   display: flex;
   flex-direction: row-reverse;
   padding: 2rem;
   height: calc(100vh - 7rem);
   width: 100%;
   position: relative;
   .sideBar {
      height: 100%;
      width: 20%;
   }
   .main {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      .topBar {
         margin: 0 0.5rem 0.5rem 0.5rem;
         height: 3rem;
         width: 100%;
      }
      .table {
         margin: 0 0.5rem;
         height: 100%;
         width: 100%;
      }
   }
}
@media screen and (max-width: 576px) {
   .rootSecretaryWindow {
      padding: 1rem;
      .main {
         align-items: center;
      }
   }
   .hideOnMobile {
      display: none;
   }
}
