.rootSecretaryWindow {
   display: flex;
   flex-direction: row-reverse;
   padding: 2rem;
   height: calc(100vh - 7rem);
   width: 100%;
   position: relative;
   .sideBar {
      height: 100%;
      width: 20%;
   }
   .main {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      .topBar {
         margin: 0 0.5rem 0.5rem 0.5rem;
         height: 3rem;
         width: 100%;
      }
      .table {
         margin: 0 0.5rem;
         height: 100%;
         width: 100%;
      }
   }
}
@media screen and (max-width: 576px) {
   .rootSecretaryWindow {
      padding: 1rem;
      flex-direction: column;
      .mobileMenu {
         line-height: 1.5rem;
         display: flex;
         justify-content: space-around;
         background-color: rgb(246, 252, 252);
         border: 1px solid rgb(170, 170, 170);
         margin-bottom: 0.5rem;
         padding: 0;
         .users {
            width: 50%;
            border-right: 1px solid rgb(170, 170, 170);
            text-align: center;
         }
         .content {
            width: 50%;
            text-align: center;
            position: relative;
            .mobileBox {
               position: absolute;
               left: 0;
               top: 1.5rem;
               background-color: rgb(246, 252, 252);
               border-right: 1px solid rgb(170, 170, 170);
               border-bottom: 1px solid rgb(170, 170, 170);
               border-left: 1px solid rgb(170, 170, 170);

               z-index: 2;
               display: flex;
               flex-direction: column;
               width: 100%;
               span {
                  padding: 0.2rem;
                  border-top: 1px solid rgb(170, 170, 170);
               }
            }
         }
      }
      .main {
         align-items: center;
      }
   }
   .hideOnMobile {
      display: none;
   }
}
@media screen and (min-width: 576px) {
   .mobileMenu {
      display: none;
   }
}
