#erro {
	color: red;
}
#exitGoodword {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.cardH {
	height: fit-content !important;
}
#goodWordBTN {
	width: 25%;
}
/*@media (min-width: 768px) and (max-width: 991.98px) {

  .card {
    
    height: 253px !important;
    
  }
}*/
