.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 auto;
   max-width: 70vw;
   .cardsContainer{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
   .cardContainer {
      
      div {
         height: fit-content;
      }
      .btnContainer {
         display: flex;
         justify-content: center;
         height: 5rem;
         align-items: center;
         padding: 1rem;
      }
   }

   .topMenu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3rem;
      width: 880px;
      margin-bottom: 1rem;
      .drop {
         direction: rtl;
         min-width: 8rem;
      }
      .filters{
         display: flex;
         align-items: end;
         .radio {
            margin-right: 2rem;
            label {
               margin-left: 1rem;
            }
            input {
               margin-left: 0.5rem;
            }
         }
      }
   }
}
