.btn {
   display: flex;
   justify-content: flex-end;
   width: 20%;
   background-color: white;
   border: 1px solid #ccc;
   line-height: 1rem;
   padding: 1rem;
   color: rgb(204, 204, 204);
   font-weight: bold;
   i {
      padding: 0 0.5rem;
   }
   &:hover {
      color: rgb(161, 161, 161);
   }
}
