.deleteWindow {
   border: none !important;
   .header {
      background-color: rgb(84, 111, 122);
      h3 {
         line-height: 3.5rem;
         font-size: 1.5rem;
         text-align: center;
         direction: rtl;
         color: rgb(221, 231, 241);
      }
      i {
         position: absolute;
         top: 0.5rem;
         left: 0.5rem;
         color: rgb(221, 231, 241);
         cursor: pointer;
      }
   }
   .body {
      padding: 1rem 7rem;
      text-align: right;
      display: flex;
      flex-direction: column;
      .userId,
      .newPassword {
         display: flex;
         flex-direction: column;
         position: relative;
         i {
            position: absolute;
            top: 73%;
            left: 5%;
            color: rgb(150, 150, 150);
            cursor: pointer;
         }
         label {
            margin-top: 1.5rem;
            font-weight: bold;
            color: rgb(150, 150, 150);
            font-size: 0.9rem;
         }
         input {
            border: 1px solid rgb(100, 100, 100);
            padding: 0.1rem 0.5rem;
            color: rgb(150, 150, 150);
         }
      }
      .newPassword {
         input {
            padding-left: 2.5rem;
         }

         .questionMark {
            position: static;
         }
      }
   }

   .btnContainer {
      .saveBtn {
         height: 2.5rem;
         margin: 2rem 0 1rem 0;
         border: none;
         border-radius: 0.2rem;
         background-color: rgb(128, 199, 131);
         width: 100%;
         color: rgb(255, 255, 255);
         font-weight: bold;
      }
   }
}
.rules {
   p,
   h3 {
      text-align: right;
   }
}
