.container {
   border: none !important;
   .header {
      background-color: rgb(84, 111, 122) !important;
      color: rgb(221, 231, 241);
   }
   .input {
      background: #ffffff !important;
   }
}
