.validate {
            color: red;
            font-size: 10px;
 }

 span.validate {
   color: red;
   font-size: 16px;
   font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
   -webkit-appearance: none;
   margin: 0;
}
input[type=number]{
   -moz-appearance: textfield;
}
 .container {
    border: none !important;
    height: fit-content !important;
 }