.rootUpdatePassword{
    background: #f6fcfc;
    border: 1px solid #635f5f59;
    box-sizing: border-box;
    padding: 20px 30px;
    height: 100%;

    .formWrapper{
        max-width: 550px;
        margin: 0 auto;

    }
}
