.container {
   background-color: #fff;
   border: 1px solid #ccc;
   padding: 1rem 2rem;
   h2 {
      text-align: end;
      padding: 0.5rem;
   }
   .spinner {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
   }
   .gallery {
      width: 100%;
      margin: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      .imageContainer {
         position: relative;
         width: 33%;
         padding: 0.25rem;
         i {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
         }
         .image {
            border: 1px solid black;
            width: 100%;
            height: 15rem;
            object-fit: cover;
         }
         .footer {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            position: absolute;
            flex-basis: content;
            height: 1.8rem;
            width: calc(100% - 0.5rem);
            bottom: 0.25rem;
            left: 0.25rem;
            z-index: 20;
            background-color: rgba(40, 167, 70, 0.521);
            margin: 0;
            padding: 0;
            label {
               padding: 0;
               color: white;
            }
            input {
               align-self: center;
               margin: 0 1rem;
            }
         }
      }
      .uploadImage {
         width: 33%;
         padding: 0.25rem;
         input[type="file"] {
            display: none;
         }
         label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 15rem;
            border: 1px solid black;
            padding: 6px 12px;
            margin: 0;
            cursor: pointer;
            i {
               font-size: 5rem;
               color: rgba(40, 167, 70, 0.521);
            }
         }
      }
   }
}
