.SideBar {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   height: 100%;
   width: 100%;
   background-color: #fff;
   border: 1px solid #ccc;
   padding: 15px;

   h3 {
      font-size: 21px;
      margin: 0 0 20px;
      line-height: 1;
   }
   .line {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 20px;
      justify-content: flex-start;
      cursor: pointer;
      img {
         margin-left: 1rem;
         height: 1rem;
         width: 1rem;
      }
   }
   .subMenu {
      @keyframes scale-in-ver-top {
         0% {
            transform: translateY(-1.5rem);
            opacity: 0;
         }
         100% {
            transform: translateY(0);
            opacity: 1;
         }
      }

      animation: scale-in-ver-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 2.5rem;
      p {
         margin: 0;
         cursor: pointer;
      }
   }
   .active {
      font-weight: 500;
   }
}
